h1{
    margin: 0 auto;
    font-size: 30px;
    width: 400px;
    padding-left: 20px;
    background-color: #f1f1f1;
    border-left: 5px solid red;
}

main{
    border: 2px solid #ebebeb;
    border-radius: 10px;
    width: 400px;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
    background-color: #fbfbfb;
}

.buttons{
    display: flex;
    column-gap: 15px;
}

.button1{
    border: 1px solid lightgray;
    padding: 4px 10px;
    color: white;
    background-color: #bfbfbf;
    border-radius: 5px;
    border-bottom: 2px solid gray;
}

.button2{
    border: 1px solid lightgray;
    padding: 5px 10px;
    color: white;
    background-color: darkorange;
    border-radius: 5px;
    border-bottom: 2px solid #E08600;
}